<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/style.css}">
</head>
<body>

    <div th:replace="layouts/header :: main"></div>

    <div class="main-content" layout:fragment="content">
        <p>Use this site to get your weather!</p>
    </div>

    <div th:replace="layouts/footer :: main"></div>
</body>
</html>